<section class="game-card2">
    <div class="col-8">
      <div class="card">
        <img src ="/images/{{image}}"/>
      </div>

      <div class="card">
        <p>Title: {{title}}</p>
        <p>description: {{description}}</p>
        <p>developer: {{developer}}</p>
        <p>platform: {{platform}}</p>
        <p>release_date: {{release_date}}</p>
        <p>genre: {{genre}}</p>

      </div>
    </div>
</section>