<section class="game-card">
        <img src="/images/{{image}}" class= "game-cover" id = "toggleButton" alt="Image Description"/>

<div class="gametext-card" flex>
<p class="display-icon">
        &#127918; {{title}}
        <span > &#10084 </span>   
        <span> &#128722 </span> 
</p>
        <p>Title: {{title}}</p>
        <p>description: {{description}}</p>
        <p>developer: {{developer}}</p>
        <p>platform: {{platform}}</p>
        <p>release_date: {{release_date}}</p>
        <p>genre: {{genre}}</p>

</div>
</section>


{{!-- Source of emoji
https://www.htmlsymbols.xyz/games-symbols 
https://www.compart.com/en/unicode/U+1F6D2
--}}