<div class="profile-card container">
  <section class="row">
    <div class="col-md-3 col-sm-12 d-flex justify-content-center align-items-center">
      <div class="profile-image card">
        <img src="../uploads/{{image}}" alt="No photo" id="profileID" />
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="card">
        <h2>{{username}}</h2>
      </div>
      <div class="card">
        <p>Name: {{name}}</p>
        <p>Email: {{email}}</p>
      </div>
    </div>
  </section>
  <section class="row">
    <aside class="col-md-3 col-sm-12">
      <div class="card">
        <h3>Wishlist</h3>
        {{#each user.wishlist as |item|}}
          <p>{{item}}</p>
        {{/each}}
      </div>
    </aside>
    <div class="col-md-8 col-sm-12">
      <div class="card">
        <p>Favorite Games: {{favorites}}</p>
        <p>Platforms: {{platforms}}</p>
        <p>Genre: {{tags}}</p>
      </div>
    </div>
  </section>
</div>


{{!-- <div class = "col">
  <h1>Upload a File</h1>
  <form class ="imageupload-form" action="/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept=".jpg, .png, .gif">
    <button type="submit">Upload</button>
  </form>
</div>
  <script src="./js/image.js"></script> --}}


{{!-- <script src="./js/profile.js"></script> --}}
{{!-- <script src="./js/image.js"></script> --}}